/*Atividade 1*/
/*Seleciona h1 e p*/
h1, p {
    color: blue;
}

/*Seleciona a dentro de p*/
a {
    color: green;
}

/*Atividade 2*/
.codigo {
    color: blue;
}

.design {
    color: red;
}

.underline {
    text-decoration: underline;
}